# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log
logs/

# IDES
# .vscode/
.idea/

# OS
.DS_Store

# Project Specific
images/
data/

# MQL5
*.ex4
*.ex5